In [1]:
import pandas as pd

In [2]:
# Указываем схему ширины колонок (colspecs)
colspecs = [
    (0, 6),  # CASE
    (6, 7),  # SEX
    (7, 9),  # AGE
    (9, 11),  # SEC
    (11, 13),  # MIN
    (13, 15),  # HOUR
    (15, 17),  # DAY
    (17, 19),  # MONTH
    (19, 22),  # YEAR
    (22, 31),  # COUNTRY
]

# Добавляем колонки для I1-I120
for i in range(120):
    colspecs.append((31 + i * 1, 31 + (i + 1) * 1))  # noqa: PERF401
    # Каждое поле I1-I120 занимает 1 символ

In [3]:
data_path = "./osfstorage-archive (2)/IPIP120.dat"

In [4]:
# Чтение данных с фиксированными ширинами
data = pd.read_fwf(data_path, colspecs=colspecs, header=None)

In [5]:
# Присваиваем имена колонок
columns = ["CASE", "SEX", "AGE", "SEC", "MIN", "HOUR", "DAY", "MONTH", "YEAR", "COUNTRY"]
columns += [f"I{i+1}" for i in range(120)]  # Имена для I1 - I120
data.columns = columns

In [12]:
int_columns = ["CASE", "SEX", "AGE", "SEC", "MIN", "HOUR", "DAY", "MONTH", "YEAR"]
int_columns += [f"I{i+1}" for i in range(120)]

for col in int_columns:
    data[col] = pd.to_numeric(data[col]).astype(int)

In [15]:
# Выводим первые несколько строк
data

,CASE,SEX,AGE,SEC,MIN,HOUR,DAY,MONTH,YEAR,COUNTRY,...,I111,I112,I113,I114,I115,I116,I117,I118,I119,I120
0,1,2,19,8,41,16,30,6,101,South Afr,...,5,2,4,4,4,2,4,1,5,4
1,2,2,22,24,45,16,30,6,101,USA,...,1,4,3,3,4,4,2,3,4,3
2,4,2,22,3,57,16,30,6,101,USA,...,2,3,2,4,4,2,4,2,5,4
3,5,2,22,44,4,17,30,6,101,USA,...,1,5,5,5,4,1,5,3,5,3
4,6,1,13,14,6,17,30,6,101,USA,...,1,2,4,3,5,2,4,4,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619145,690855,2,21,29,1,0,16,4,111,USA,...,4,4,2,4,4,4,4,2,5,4
619146,690857,2,56,44,27,1,16,4,111,Canada,...,4,3,4,2,2,1,4,1,4,5
619147,690858,2,15,31,36,1,16,4,111,USA,...,2,3,4,4,1,4,3,3,4,4
619148,690859,2,20,58,3,2,16,4,111,USA,...,2,1,4,5,2,5,2,2,5,3
619149,690863,1,31,26,28,7,16,4,111,Spain,...,1,1,5,1,1,1,2,3,4,5